---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=brighton%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 07 Aug 2021 20:22:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"brighton
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brighton","adminArea5Type":"City","adminArea4":"Adams
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039540","unknownInput":"","type":"s","latLng":{"lat":39.986767,"lng":-104.812604},"displayLatLng":{"lat":39.986767,"lng":-104.812604},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.986767,-104.812604|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1126240692"}]}]}'
  recorded_at: Sat, 07 Aug 2021 20:22:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=cec2d6deb48740c25265fea5b404bf8c&lat=39.986767&lon=-104.812604&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9868,"lon":-104.8126,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628367752,"sunrise":1628337816,"sunset":1628388383,"temp":82.45,"feels_like":80.01,"pressure":1017,"humidity":15,"dew_point":30.42,"uvi":8.42,"clouds":75,"visibility":6437,"wind_speed":27.63,"wind_deg":300,"wind_gust":37.98,"weather":[{"id":711,"main":"Smoke","description":"smoke","icon":"50d"}]},"minutely":[{"dt":1628367780,"precipitation":0},{"dt":1628367840,"precipitation":0},{"dt":1628367900,"precipitation":0},{"dt":1628367960,"precipitation":0},{"dt":1628368020,"precipitation":0},{"dt":1628368080,"precipitation":0},{"dt":1628368140,"precipitation":0},{"dt":1628368200,"precipitation":0},{"dt":1628368260,"precipitation":0},{"dt":1628368320,"precipitation":0},{"dt":1628368380,"precipitation":0},{"dt":1628368440,"precipitation":0},{"dt":1628368500,"precipitation":0},{"dt":1628368560,"precipitation":0},{"dt":1628368620,"precipitati[...]
