---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=cec2d6deb48740c25265fea5b404bf8c&lat=39.986767&lon=-104.812604&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9868,"lon":-104.8126,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628351625,"sunrise":1628337816,"sunset":1628388383,"temp":73.29,"feels_like":72.3,"pressure":1004,"humidity":42,"dew_point":48.85,"uvi":4.28,"clouds":74,"visibility":10000,"wind_speed":1.99,"wind_deg":70,"wind_gust":5.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1628351640,"precipitation":0},{"dt":1628351700,"precipitation":0},{"dt":1628351760,"precipitation":0},{"dt":1628351820,"precipitation":0},{"dt":1628351880,"precipitation":0},{"dt":1628351940,"precipitation":0},{"dt":1628352000,"precipitation":0},{"dt":1628352060,"precipitation":0},{"dt":1628352120,"precipitation":0},{"dt":1628352180,"precipitation":0},{"dt":1628352240,"precipitation":0},{"dt":1628352300,"precipitation":0},{"dt":1628352360,"precipitation":0},{"dt":1628352420,"precipitation":0},{"dt":1628352480,"precipitati[...]
