---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=39.986767,-104.812604&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59a712170433731fbcce92492eb078b9"
    body:
      encoding: UTF-8
      string: '[{"id":8862,"obdb_id":"big-choice-brewing-co-brighton","name":"Big
        Choice Brewing Co","brewery_type":"micro","street":"21 S 1st Ave","address_2":null,"address_3":null,"city":"Brighton","state":"Colorado","county_province":null,"postal_code":"80601-1603","country":"United
        States","longitude":"-104.822433","latitude":"39.98642943","phone":"3034692616","website_url":"http://www.bigchoicebrewing.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":10711,"obdb_id":"floodstage-ale-works-brighton","name":"Floodstage
        Ale Works","brewery_type":"brewpub","street":"170 S Main St","address_2":null,"address_3":null,"city":"Brighton","state":"Colorado","county_province":null,"postal_code":"80601-1611","country":"United
        States","longitude":"-104.8221009","latitude":"39.98456564","phone":"3036547972","website_url":"http://www.floodstagealeworks.com","updated_at":"2018-08-24T00:00:00.000Z","created_at"[...]
