---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=49850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Aug 2021 00:28:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"49850"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pinilla
        de Toro","adminArea5Type":"City","adminArea4":"Zamora","adminArea4Type":"County","adminArea3":"CASTILE
        AND LE\u00D3N","adminArea3Type":"State","adminArea1":"ES","adminArea1Type":"Country","postalCode":"49850","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"347252353","unknownInput":"","type":"s","latLng":{"lat":41.627056,"lng":-5.36386},"displayLatLng":{"lat":41.627056,"lng":-5.36386},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=41.627056,-5.36386|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1919978647"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"JAL","adminArea3Type":"State","adminArea1":"MX","adminArea1Type":"Country","postalCode":"49850","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"348211134","unknownInput":"","type":"s","latLng":{"lat":19.445025,"lng":-103.505686},"displayLatLng":{"lat":19.445025,"lng":-103.505686},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=19.445025,-103.505686|marker-sm-50318A-2&scalebar=true&zoom=15&rand=-1041578579"}]}]}'
  recorded_at: Sun, 08 Aug 2021 00:28:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=cec2d6deb48740c25265fea5b404bf8c&lat=41.627056&lon=-5.36386&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.6271,"lon":-5.3639,"timezone":"Europe/Madrid","timezone_offset":7200,"current":{"dt":1628382485,"sunrise":1628400178,"sunset":1628451077,"temp":52.68,"feels_like":51.03,"pressure":1016,"humidity":72,"dew_point":43.92,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.53,"wind_deg":27,"wind_gust":16.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1628382540,"precipitation":0},{"dt":1628382600,"precipitation":0},{"dt":1628382660,"precipitation":0},{"dt":1628382720,"precipitation":0},{"dt":1628382780,"precipitation":0},{"dt":1628382840,"precipitation":0},{"dt":1628382900,"precipitation":0},{"dt":1628382960,"precipitation":0},{"dt":1628383020,"precipitation":0},{"dt":1628383080,"precipitation":0},{"dt":1628383140,"precipitation":0},{"dt":1628383200,"precipitation":0},{"dt":1628383260,"precipitation":0},{"dt":1628383320,"precipitation":0},{"dt":1628383380,"precipitati[...]
