---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=brighton,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 08 Aug 2021 00:04:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"brighton,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brighton","adminArea5Type":"City","adminArea4":"Adams
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039540","unknownInput":"","type":"s","latLng":{"lat":39.986767,"lng":-104.812604},"displayLatLng":{"lat":39.986767,"lng":-104.812604},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.986767,-104.812604|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-987530138"}]}]}'
  recorded_at: Sun, 08 Aug 2021 00:04:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=cec2d6deb48740c25265fea5b404bf8c&lat=39.986767&lon=-104.812604&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9868,"lon":-104.8126,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628381043,"sunrise":1628337816,"sunset":1628388383,"temp":80.74,"feels_like":79.45,"pressure":1011,"humidity":27,"dew_point":43.68,"uvi":1.07,"clouds":1,"visibility":6437,"wind_speed":7,"wind_deg":360,"wind_gust":15.99,"weather":[{"id":711,"main":"Smoke","description":"smoke","icon":"50d"}]},"minutely":[{"dt":1628381100,"precipitation":0},{"dt":1628381160,"precipitation":0},{"dt":1628381220,"precipitation":0},{"dt":1628381280,"precipitation":0},{"dt":1628381340,"precipitation":0},{"dt":1628381400,"precipitation":0},{"dt":1628381460,"precipitation":0},{"dt":1628381520,"precipitation":0},{"dt":1628381580,"precipitation":0},{"dt":1628381640,"precipitation":0},{"dt":1628381700,"precipitation":0},{"dt":1628381760,"precipitation":0},{"dt":1628381820,"precipitation":0},{"dt":1628381880,"precipitation":0},{"dt":1628381940,"precipitati[...]
