---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<api_key>&location=brighton,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 18 Aug 2021 21:38:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"brighton,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Brighton","adminArea5Type":"City","adminArea4":"Adams
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039540","unknownInput":"","type":"s","latLng":{"lat":39.986767,"lng":-104.812604},"displayLatLng":{"lat":39.986767,"lng":-104.812604},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<api_key>&type=map&size=225,160&locations=39.986767,-104.812604|marker-sm-50318A-1&scalebar=true&zoom=12&rand=892788201"}]}]}'
  recorded_at: Wed, 18 Aug 2021 21:38:46 GMT
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=39.986767,-104.812604&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59a712170433731fbcce92492eb078b9"
    body:
      encoding: UTF-8
      string: '[{"id":8862,"obdb_id":"big-choice-brewing-co-brighton","name":"Big
        Choice Brewing Co","brewery_type":"micro","street":"21 S 1st Ave","address_2":null,"address_3":null,"city":"Brighton","state":"Colorado","county_province":null,"postal_code":"80601-1603","country":"United
        States","longitude":"-104.822433","latitude":"39.98642943","phone":"3034692616","website_url":"http://www.bigchoicebrewing.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":10711,"obdb_id":"floodstage-ale-works-brighton","name":"Floodstage
        Ale Works","brewery_type":"brewpub","street":"170 S Main St","address_2":null,"address_3":null,"city":"Brighton","state":"Colorado","county_province":null,"postal_code":"80601-1611","country":"United
        States","longitude":"-104.8221009","latitude":"39.98456564","phone":"3036547972","website_url":"http://www.floodstagealeworks.com","updated_at":"2018-08-24T00:00:00.000Z","created_at"[...]
